<div class="my-detail">
  <%= image_tag "sky.jpg", :class => "sky" %>
  <ul class="collection">
    <li class="collection-item">name: key</li>
    <li class="collection-item">hometown: kumamoto</li>
    <li class="collection-item">age: 25</li>
    <li class="collection-item">blood type: A</li>
  </ul>
</div>

